<% content_for :head do %>
  <title>Minhas Mensagem</title>
<% end %>
<nav class="nav-signup">
  <%= image_tag 'LOGO', class: 'logo'  %>
  <h1>Chat</h1>
</nav>

<div class="chat-wrapper">
  <h1> Minhas Mensagens </h1>
  <h5> Visualize as ongs que você está em contato </h5>
  <% @ongs.each do |message| %>
    <% if message.ong_id.present? %>
      <div class="donor-message">
        <%= image_tag get_ong(message.ong_id).image %>
        <p><%= get_ong(message.ong_id).nome_fantasia %></p>
        <button><%= link_to 'Verificar', new_message_path(id: message.ong_id) %></button> 
      </div>
    <% end %>
  <% end %>
</div>
