<p class="font-weight-bold"> Sozinho você pode muito.<br> Unidos podemos muito mais!</p>
 <p class="text-left"> Faça parte desta transformação e ajude quem precisa. 
<br>Seja um doador e auxilie no trabalho das Organizações 
<br>dedicadas a crianças com câncer. </p>

<div class="image">
	<%= image_tag 'crianca', class:'rounded float-right' %>
</div>
<br>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Quem Somos</h5>
        <p class="card-text">O DoeMais é um projeto desenvolvido para intermediar doações entre ONG's que prestam auxilio à crianças com câncer e seus familiares e pessoas que desejam realizar doações. </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Aqui você ajuda</h5>
        <p class="card-text">
        	<ul>
    <li><i class="fas fa-child"></i>  Crianças com câncer;</li>
    <li><i class="fas fa-users"></i>  As familias das crianças;</li>
    <li><i class="fas fa-home"></i> ONG's de apoio a crinças com câncer </li>
</ul>
        </p>
      </div>
    </div>
  </div>
</div>

