<div class="fundo">
 <br><br><br><br><br>
  <div >
    <p class="font-weight-bold"> Sozinho você pode muito.<br> Unidos podemos muito mais!</p>
    <p class="text-left"> Faça parte desta transformação e ajude quem precisa. <br> Seja um doador e auxilie no trabalho das Organizações <br>dedicadas a crianças com câncer. </p>
  </div>
  <div>
<figure class="figure">
  <%= image_tag 'crianca' %>
</figure>
</div>
</div>
<div class="container-fluid">
	<div class="row">
      <div class="col-sm" style="margin-top: 2%">
	     <p>  <%= @ongs.size %> Instituições Cadastradas</p>
	  </div>
	  <div class="col-sm" style="margin-top: 2%">
		  <p>  <%= @doadores.size %> Doadores Cadastrados</p>
	  </div>
      <div class="col-sm" style="margin-top: 2%">
	      <p>  <%= @doacoes.size %> Necessidades em Aberto</p>
	  </div>
</div>

