<p class="font-weight-bold"> Sozinho você pode muito.<br> Unidos podemos muito mais!</p>
 <p class="text-left"> Faça parte desta transformação e ajude quem precisa. 
<br>Seja um doador e auxilie no trabalho das Organizações 
<br>dedicadas a crianças com câncer. </p>
<div class="image">
	<%= image_tag 'crianca', class:'rounded float-right' %>
</div>

