<div align="center" class="container" style="background-color: #FFFFFF">
  <h1 class="title">Bate Papo</h1>
  <div id="messages">
    <%= render @messages %>
  </div>
 
  <form>
    <input type="text" data-behavior="chat_speaker" placeholder=" Diga alguma coisa :) ">
  </form>
</div>
