@import './fonts.css';
@import './animations.css';

:root {
  --purple: #7A00BA;
  --gray: #837F7F;
  --darker-gray: #2e2d2d;
  --blue: #18A7D1;
  --yellow: #EDC51D;
  --white: #FFF;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}

html, body {
  font-family: Montserrat, 'sans-serif';
  scroll-behavior: smooth;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
}

a:hover{
  text-decoration: none;
}
a:link {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit
}

.first-wrapper {
  display: flex;
  min-height: 80vh;
}

.logo-wrapper {
  display: flex;
  justify-content: center;
  flex-basis: 25%;
  background-color: var(--purple);
}

.logo-wrapper > .logo {
  height: 150px;
  width: auto;
}

.header-wrapper {
  flex-basis: 75%;
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  background-image: url('../images/outline.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.header-wrapper > .image-header {
  position: relative;
  left: -200px;
  height: 280px;
  width: auto;
  box-shadow: 46px 44px 0px 0px var(--yellow);
  animation:  text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
} 

.header-wrapper > .description-wrapper {
  display: inline-block;
  flex-basis: 50%;
}

.description-wrapper > h1 {
  color: var(--purple);
  position: relative;
  font-size: 2rem;
  margin-top: 100px;
  font-weight: 700;
  animation: text-pop-up-top 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.description-wrapper > p {
  font-size: 12px;
  margin-top: 20px;
  font-weight: 300;
  line-height: 25px;
  animation: text-pop-up-top 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.second-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 20vh;
  padding-left: 30px;
  padding-right: 30px;
  background-color: var(--yellow);
}

.second-wrapper > .details-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.details-wrapper > .detail {
  display: flex;
  flex-basis: 33.3%;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.detail > .value {
  font-size: 3em;
  font-weight: 700;
  color: var(--purple);
}

.detail > .name {
  font-size: 2em;
  font-weight: 700;
  color: var(--white);
  white-space: pre-wrap;
  text-align: center;
  flex-basis: 66.6%;
}

.third-wrapper {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 25px;
  text-align: center;
}

.third-wrapper > h1 {
  font-family: Nunito, sans-serif;
  margin-top: 25px;
  flex-basis: 100%;
  font-weight: 700;
  color: var(--gray);
}

.third-wrapper > .place-card {
  display: flex;
  flex-direction: column;
  height: 360px;
  flex-basis: 310px;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  transition: box-shadow 0.2s;
  box-shadow: 0 24px 35px -16px rgba(107,179,237,.5);
}

.place-card:hover {
  box-shadow: 0 24px 35px -16px rgba(107,179,237, 1);
}

.place-card > .photo {
  max-height: 50%;
  width: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.place-card > .details {
  display: flex;
  flex-basis: 60%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.details > h1 {
  font-family: Nunito, sans-serif;
  color: var(--purple);
  font-size: 20px;
}

.details > p {
  font-family: Nunito, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--gray);
}

.details > span {
  font-family: Nunito, sans-serif;
  display: inline-block;
  font-weight: 700;
  color: var(--gray);
}

.details > span > i {
  font-size: 20px;
  margin-right: 15px;
  color: var(--yellow);
}

.details > button {
  position: relative;
  bottom: -25px;
  padding: 15px 30px 15px 30px;
  background-color: var(--purple);
  color: var(--white);
  width: 50%;
  border-radius: 30px;
}

.fourth-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  min-height: 40vh;
  background-image: url('../images/Imagem\ 2.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay, color-dodge, overlay, overlay, difference, normal;
  background-color: var(--purple);
  background-attachment: scroll;
}

.fourth-wrapper > h1 {
  color: var(--white);
  text-align: center;
  flex-basis: 100%;
}

.fourth-wrapper > button {
  font-family: Nunito, sans-serif;
  font-weight: 700;
  padding: 20px 100px 20px 100px;
  background-color: var(--white);
  color: var(--purple);
  font-size: 15px;
  border-radius: 10px;
}

.fourth-wrapper > button:hover {
  transform: scale(1.1);
  transition: transform 1s;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  min-height: 30vh;
  background-color: var(--darker-gray);
}

.footer > span {
  flex-basis: 100%;
  text-align: center;
  font-size: 10px;
  font-weight: 700;
  color: var(--gray);
  margin-top: 30px;
  margin-bottom: 30px;
}

.footer-icon-wrapper {
  flex-basis: 100%;
  text-align: center;
}

.footer-icon-wrapper > .footer-icon {
  width: 250px;
  height: 150px;
}

.footer > .links-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-basis: 60%;
}

.links-wrapper > a {
  flex-basis: 33.3%;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  color: var(--gray);
  font-weight: 700;
}

.welcome-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;

  font-family: Nunito, sans-serif;
  background-color: var(--purple);
  color: var(--white);
}

.welcome-wrapper > h1 {
  font-weight: 700;
}

.welcome-wrapper > p {
  font-size: 13px;
}

.welcome-wrapper > .links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 15px;
  width: 60%;
}

.links > a {
  padding: 15px 30px 15px 30px;
  background-color: var(--white);
  color: var(--purple);
  border-radius: 30px;
}

.links > a:hover {
  text-decoration: none;
  transform: scale(1.1);
}

.chat-wrapper {
  font-family: Nunito, sans-serif;
  color: var(--purple);
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  padding: 15px;
}

.chat-wrapper > h1 {
  font-weight: 700;
}

.chat-wrapper > h5 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 25px;
}

.message-wrapper {
  width: 100%;
  margin-top: 15px;
}

.message-wrapper:nth-of-type(odd) {
  margin-left: auto;
  text-align: right;
}

.message-wrapper:nth-of-type(even) {
  text-align: left;
}

.message-wrapper > .name {
  font-size: 11px;
  font-weight: bold;
}

.message-wrapper > .description {
  font-size: 14px;
  color: var(--gray);
}

.message-wrapper > .date {
  font-size: 12px;
  font-weight: bold;
  color: var(--gray);
}

.donor-message {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  max-width: 100%;
  background-color: var(--purple);
  color: var(--white);
  margin-top: 15px;
}

.donor-message > p {
  margin: 0;
}

.donor-message > img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.donor-message > button {
  padding: 10px 20px 10px 20px;
  background-color: var(--white);
  color: var(--purple);
  border-radius: 30px;
}

.donor-message > button:hover {
  text-decoration: none;
  outline: none;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .first-wrapper {
    flex-direction: column;
  }

  .third-wrapper {
    justify-content: center;
  }

  .header-wrapper {
    justify-content: center;
  }

  .header-wrapper > .image-header {
    width: 100%;
    height: auto;
    left: 0;
    box-shadow: none;
  }

  .header-wrapper > .description-wrapper {
    flex-basis: 100%;
    margin-top: 70px;
  }

  .second-wrapper > .detail {
    flex-basis: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .fourth-wrapper  {
    background-position-x: -15em;
  }

  .footer > .links-wrapper {
    flex-basis: 90%;
  }

  .links-wrapper > a {
    flex-basis: 100%;
  }

}