.login-wrapper {
  position: relative;
  left: -100px;
  box-shadow: 0 24px 35px -16px rgba(107,179,237,.5);
  height: 400px;
  width: 700px;
  background-color: #fff;
  border-radius: 15px;
  padding: 30px;
  animation:  text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.login-wrapper > h1 {
  color: var(--purple);
  font-size: 17px;
  text-align: center;
  font-weight: bold;
}

.login-wrapper > .field {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 22%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.field > label {
  color: var(--gray);
  font-size: 13px;
  font-weight: bold;
}

.field > input {
  font-family: Montserrat, sans-serif;
  height: 100%;
  margin-top: 15px;
  border: 0.5px solid #ccc;
  color: var(--gray);
  letter-spacing: 1px;
  border-radius: 7px;
  padding: 15px;
  outline: none;
  box-shadow: 0 24px 35px -16px rgba(107,179,237,.5);
}

.field > #password {
  letter-spacing: 3px;
  font-size: 25px;
  font-weight: bold;
}

.buttons-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 15%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.buttons-wrapper > .signin-button {
  height: 100%;
  width: 45%;
  color: #fff;
  font-weight: bold;
  background-color: var(--purple);
  border-radius: 7px;
}

.buttons-wrapper > .forgot-password {
  width: 45%;
  font-size: 13px;
  cursor: pointer;
  font-weight: bold;
  color: var(--blue);
  text-align: right;
}

@media (max-width: 768px) {
  .login-wrapper {
    width: 320px;
    height: 500px;
    left: 0;
  }

  .login-wrapper > h1 {
    font-size: 15px;
  }
}