  <footer class=footer>
    <div class="footer-icon-wrapper">
      <%= image_tag 'LOGO', class: 'footer-icon'  %>
    </div>
    <div class="links-wrapper">
      <a href="">POLITICA DE PRIVACIDADE</a>
      <a href="">SUPORTE</a>
      <a href="">DÚVIDAS FREQUENTES</a>
    </div>
    <span> TODOS OS DIREITOS RESERVADOS </span>
  </footer>